.scholarship-feedback-input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #cc6666;
    transition: all 0.3s;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    margin: auto;
  }
  
  .scholarship-feedback-title {
    font-weight: 500;
    font-size: 22px;
    text-decoration: solid;
    background-color: transparent;
    color: black;
  }
  
  .scholarship-feedback-subtitle {
    font-weight: 500;
    font-size: 15px;
    text-decoration: solid;
    background-color: transparent;
    color: black;
    margin-top: 30px;
  }
  
  .scholarship-radio {
    font-weight: 500;
    font-size: 15px;
    text-decoration: solid;
    background-color: transparent;
    color: black;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .scholarship-feedback-input:focus {
    border: 2px solid #cc4949;
  }
  
  .scholarship-textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  
  /* [type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 100%;
    background: #cc6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: black;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background: #cc4949;
  } */