* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app {
  text-align: center;
}

.page-container {
  background-position: center;
  background-size: cover;
  background-repeat: "no-repeat";
  margin-right: 0%;
}

.content-wrap {
  flex: 1;
}
