.error {
  font-size: 17px;
  font-weight: 500;
  color: #ff4c3b;
  margin-top: 0.25rem;
}

.errorOccured {
  border: none;
  background-color: #353839;
  border-bottom: 1px solid #FF4C3B;
  font-size: 20px;
}
.noError {
  background-color: #353839;
  border:none;
  border-bottom: 1px solid #ffc40c;
  font-size: 20px;
  color:#ffc40c;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.box-size{
 
    width: 35rem;
    background-color: #353839;
    border-radius:10px;
    margin: 20px;
    padding: 40px;
}
@media only screen and (max-width: 900px) {
  .box-size{
 
    width: 25rem;
    background-color: #353839;
    border-radius:10px;
    margin: 20px;
    padding: 40px;
}

}